<% if (typeof noAssistant === 'undefined' || !noAssistant) { %>
<%- include('assistant') %>
<% } %>
<script src="/js/analytics.js" defer></script>
<script src="/js/assistant.js" defer></script>
</body>
</html>
